* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: black;
}
#canvas1 { 
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  width: 350px;
  background-color: white;
  text-align: center;
}
li {
  width: 100%;
  background-color: wheat;
  border-radius: 3px;
  margin-bottom: 2px;
  font-size: 25px;
}
 
a {
  background-color: wheat;
  text-decoration: none;
}
