* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

* {
  overflow: hidden;
}
#canvas1 {
  border: 2px solid white;
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  width: 350px;
  background-color: white;
  text-align: center;
}
li {
  width: 100%;
  background-color: wheat;
  border-radius: 3px;
  margin-bottom: 2px;
  font-size: 25px;
}
ul {
  width: 350px;
  background-color: white;
  text-align: center;
}
li {
  width: 100%;
  background-color: wheat;
  border-radius: 3px;
  margin-bottom: 2px;
  font-size: 25px;
}
a {
  background-color: wheat;
  text-decoration: none;
}
